body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 300px;
  background-color: hsl(0, 0%, 12%);
  border-radius: 15px;
  padding: 50px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease-in-out;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("./assets//images/avatar-jessica.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.info {
  text-align: center;
}

.info > span {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.info > p {
  font-size: 14px;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin: 0;
  margin-top: 10px;
}

.degree {
  color: rgba(255, 255, 255, 0.7);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.navButton {
  width: 100%;
  height: 40px;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navButton:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  transform: scale(1.05);
}

@media only screen and (max-width: 375px) {
  .profileContainer {
    transform: scale(0.8);
  }

  .info > span {
    font-size: 20px;
  }

  .info > p {
    font-size: 12px;
  }

  .degree {
    font-size: 12px;
  }
}
